{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en"
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>RookiePlay</title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <p>
    {% if user.is_authenticated %}
      Hello, {{ user.username }}.</p>
  <p>    
    <a href="{% url 'recs:topics' %}">Profile</a>
    <a href="{% url 'recs:upload' %}">Upload</a>
    {% else %}
      <a href="{% url 'recs:index' %}">log in</a>
    {% endif %}
    <a href="{% url 'recs:privacy' %}">Privacy Policy</a>
    <a href="{% url 'recs:terms' %}">Terms of Service</a>

  </p>

</body>




{% block content %}{% endblock content %}

</html>
