{% load static %} {% load pwa %}

<!DOCTYPE html>
<html lang="en"
  <head>
    <meta charset="utf-8"/>
    {% progressive_web_app_meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="stylesheet" href = "base.css">
    <link
      rel="icon"
      type="image/png"
      href="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/rookieplay_logo.png"
    />
  <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" type="text/css" href="https://rookieplay-uploads.s3.amazonaws.com/static/recs/footer.css">
    <link rel="stylesheet" type="text/css" href="https://rookieplay-uploads.s3.amazonaws.com/static/recs/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://rookieplay-uploads.s3.amazonaws.com/static/recs/glass_style.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      body {
        font-family: "Lato";
        font-size: 20px;
      }
    </style>

    {% block cssfiles %}{% endblock cssfiles %}
    <title>RookiePlay</title>

</head>



  <body>

  <div class="wrap">
  <div id="container">
     {% if not rec_navbar %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="https://www.rookieplay.com"> <img alt="Rookieplay logo" src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/rookieplay_logo.png"
    height="91" width="101">
    </a>

    <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="NWU5RKC6799N4" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>

       <button
         class="navbar-toggler"
         type="button"
         data-toggle="collapse"
         data-target="#navbarNavAltMarkup"
         aria-controls="navbarNavAltMarkup"
         aria-expanded="false"
         aria-label="Toggle navigation"
       >
         <span class="navbar-toggler-icon"></span>
       </button>



       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-item nav-link {{ home_page }}" href="{% url 'home' %}">Job Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link {{ profile_page }}" href="{% url 'my-profile' %}">My Profile</a>
            </li>
              <a class="nav-item nav-link {{ intel_page }}" href="{% url 'intelligent-search' %}">Get Relevant Jobs</a>
            <li class="nav-item">
              <a class="nav-item nav-link {{ account_page }}" href="{% url 'account' %}">My Account</a>
            </li>
        </ul>

           {% if user.is_authenticated %}
           <ul class="navbar-nav">
             <li class="nav-item nav-link" style="color:white;">   {{ user.username }} </li>
             <a class="nav-item nav-link btn btn-danger ml-4 mr-4 text-light" href="{% url 'users:logout' %}">log out</a>
           </li>
         </ul>
       </div>
     </nav>



           {% else %}
           <a
             class="nav-item nav-link btn btn-success ml-4 mr-4 text-light"
             href="{% url 'users:login' %}"
             >Login</a
           >
           <a class="nav-item nav-link" href=None
             >Recruiters/ Employers</a
           >
           {% endif %}
         </div>

     </nav>
     {% else %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
       <a class="navbar-brand" href="{% url 'detail-recruiters' %}">
         <img
           src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/rookieplay_logo.png"
           width="30"
           height="30"
           class="d-inline-block align-top mr-3"
           alt=""
         /><b>Rookieplay</b>
       </a>
       <button
         class="navbar-toggler"
         type="button"
         data-toggle="collapse"
         data-target="#navbarNavAltMarkup"
         aria-controls="navbarNavAltMarkup"
         aria-expanded="false"
         aria-label="Toggle navigation"
       >
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">


           {% if user.is_authenticated %}
           <a
             class="nav-item nav-link btn btn-danger ml-4 mr-4 text-light"
             href="{% url 'users:logout' %}"
             >Logout</a
           >
           {% else %}

           <a
             class="nav-item nav-link btn btn-success ml-4 mr-4 text-light"
             href="{% url 'users:login' %}"
             >Login</a
           >
           {% endif %}
           <a class="nav-item nav-link" href="{% url 'home' %}"
             >Job Seekers/Candidates</a
           >
         </div>
       </div>
     </nav>

     {% endif %}
<!--
     <main>
       <section class="glass">
         <div class="dashboard">
           <div class="user">
             <img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/avatar_test.png" width="100" height="100" alt=""/>
             <h3> {{user.username}}</h3>
             <p> Pro Member </p>
           </div>
           <div class="links">
             <div class="link">
               <img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/twitch.png" alt=""/>
               <h2>Resources</h2>
             </div>
             <div class="link">
               <img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/steam.png" alt=""/>
               <h2>Jobs</h2>
             </div>
             <div class="link">
               <img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/upcoming.png" alt=""/>
               <h2>New</h2>
             </div>
             <div class="link">
               <img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/library.png" alt=""/>
               <h2>Job Tracker</h2>
             </div>
         </div>
         <div class="pro">
           <h2>Join pro for free job recommendations.</h2>
           <img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/controller.png" alt=""/>
         </div>
       </div>
       <div class="games">
         <div class="status">
           <h1> Job Search </h1>
          <input type="text" />
        </div>
        <div class="chard">
          <img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/companies/First_Republic_Bank/first_republic_2.png" width="100" height="100" alt="">
          <div class="card-info">
            <h2> First Republic Bank</h2>
            <p> PS5 Version </p>
            <div class="progress"></div>
          </div>
          <h2 class="percentage">60%</h2>
        </div>
        <div class="chard">
          <img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/companies/Vishay_Intertechnology/vishay_intertechnology_2.png"  width="100" height="100" alt="">
          <div class="card-info">
            <h2> Vishay Intertechnology </h2>
             <p> PS5 Version </p>
            <div class="progress"></div>
          </div>
          <h2 class="percentage">60%</h2>
        </div>
        <div class="chard">
          <img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/companies/genpact/genpact_1.png" width="100" height="100" alt="">
          <div class="card-info">
            <h2> Genpact</h2>
            <p> PS5 Version </p> 
            <div class="progress"></div>
          </div>
          <h2 class="percentage">60%</h2>
        </div>
      </div>



       </section>
     </main>
     <div class="circle1"></div>
     <div class="circle2"></div>



-->

     <div class="container">{% block content %}{% endblock content %}</div>

     {% if messages %}
       {% for message in messages %}
         <div class="alert alert-primary" role="alert">
           {{ message }}
         </div>
       {% endfor %}
     {% endif %}

</div>

     <footer class="footer">
       <hr my-2 />
       <div class="row">
         <div class="col-sm-6 col-md-4 footer-navigation">
           <h3>Rookieplay</h3>
           <p class="links">
             <a href="{% url 'detail-candidates' %}">Job Seekers</a
             ><strong> · </strong
             ><a href="{% url 'detail-recruiters' %}">Recruiters</a
             ><strong> · </strong><a href=None>Pricing</a>
             <strong> · </strong
             ><a href="{% url 'recs:terms' %}">Terms of Service</a>
             <strong> · </strong
             ><a href="{% url 'recs:privacy' %}">Privacy Policy</a>
           </p>
           <p class="company-name">
             Rookieplay @ 2021<br /><small class="text-muted"
               >All rights reserved!</small
             ><br />
           </p>
         </div>
         <div class="col-sm-6 col-md-4 footer-contacts">
           <div>
             <span class="fa fa-map-marker footer-contacts-icon"></span>
             <p><span class="new-line-span"></span>New York, New York</p>
           </div>

           <div>
             <i class="fa fa-envelope footer-contacts-icon"></i>
             <p><a href="#" target="_blank">sb@rookieplay.com</a></p>
           </div>
         </div>
         <div class="clearfix"></div>
         <div class="col-md-4 footer-about">
           <h4>About the company</h4>
           <p>
             Rookieplay aims to make finding jobs easier. Our goal is to save
             time for job seekers. We are working to innovate and develop new solutions to
             matching the perfect person to their perfect job.
           </p>
           <div class="social-links social-icons">
             <a href="#"><i class="fa fa-facebook"></i></a
             ><a href="#"><i class="fa fa-twitter"></i></a
             ><a href="https://www.linkedin.com/company/rookieplay/"
               ><i class="fa fa-linkedin"></i
             ></a>
           </div>
         </div>
       </div>
       <p class="text-center" style="font-size: 12px">
       </p>
     </footer>

     <!-- JS Files -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     {% block jsfiles %}{% endblock jsfiles %}
   </body>


</html>
