{% load socialaccount %}
<html>
  <head>
    <a href="https://www.rookieplay.com">
      <img alt="Rookieplay logo" src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/rookieplay_logo.png"
      height="91" width="101">
    </a>
  <title>Rookieplay</title>
  </head>
  <body>
  <h1>Register with Rookieplay</h1>
  {% if user.is_authenticated %}

  <a href="{% url 'recs:upload' %}">Welcome, {{ user.username }}! Please continue to Rookieplay!</a>

  {% else %}

  <p>
  <a href="{% url 'users:register' %}">Register</a>
  </p>
  <p>
  <a href="{% provider_login_url 'google' %}">Google Login</a>
  </p>
  <p>
  <a href="{% provider_login_url 'linkedin_oauth2' %}">LinkedIn Login</a>
  </p>

  {% endif %}

  </body>
</html>
