<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rookieplay--Upload</title>
</head>
{% extends 'recs/base.html' %}
<body>

{% block content %}

<p>RookiePlay lets your resume speak for itself</p>
<h2>Upload a resume or cover letter.</h2>
<form action="" form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="document", id="file_input"/>

  <button type="submit">Upload & Analyze</button>
</form>
<p>Please allow the system to process your document for up to 15 seconds.</p>



{% if url %}

{% load static %}
<script src="{% static 'rookieplay/main.js' %}"></script>



<script>
  var client_id_value = "{{ client_id_value | safe }}";
  var client_auth_key_value = "{{ client_auth_key_value | safe }}";
  var text;
  var jobs = {{ recommendations | safe }};
  var jobs_bank = {{ recommendations | safe }};

  jobs_bank.splice(0, 3)

  const thumbs_down_list = [];
  const thumbs_up_list = [];

  function myFunction(value) {
    text += "<li>" + value + "</li>";
  }

      // add job to list
      // send next job title in the jobs list to whichever menu was downvoted //
  function thumbsdown(key){
    if (key === 0){
      thumbs_down_list.push(jobs[0]);
      jobs[0] = jobs_bank[0];
      document.getElementById("menu0").innerHTML = jobs_bank[0];
      jobs_bank.splice(0, 1);
    }

    if (key === 1){
      thumbs_down_list.push(jobs[1]);
      jobs[1] = jobs_bank[0];
      document.getElementById("menu1").innerHTML = jobs_bank[0];
      jobs_bank.splice(0, 1);
    }

    if (key === 2){
      thumbs_down_list.push(jobs[2]);
      jobs[2] = jobs_bank[0]
      document.getElementById("menu2").innerHTML = jobs_bank[0];
      jobs_bank.splice(0, 1);
    }
  // console.log("Jobs Bank: " + jobs_bank)
  // console.log("Thumbs Downs " + thumbs_down_list)
  // console.log("Thumbs Up " + thumbs_up_list)
  // console.log(jobs[0])
  // console.log(jobs[1])
  // console.log(jobs[2])
  }


  // console.log("Jobs Bank: " + jobs_bank)
  // console.log("Thumbs Downs " + thumbs_down_list)
  // console.log("Thumbs Up " + thumbs_up_list)
  // console.log(jobs[0])
  // console.log(jobs[1])
  // console.log(jobs[2])



</script>

<p>Uploaded file: <a href="{{ url }}">View Here</a></p>

<h2>Job Title Recommendations: </h2>

  <div id="menu0">{{recommendations.0}}</div>
  <button type="button" name="thumbs-down-0" class = "thumb-down" id="thumbs-down-0" onclick="thumbsdown(0);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png" style="width:50px;height:50px;"
  onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_R.png'"
  onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png'"
     ></button>
  <button type="button" name="thumbs-up-0" class = "thumb-up" id="thumbs-up-0" onclick="thumbsup(0);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png" style="width:50px;height:50px;"
    onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_G2.png'"
    onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png'"></button>


  <div id="menu1">{{recommendations.1}}</div>
  <button type="button" name="thumbs-down-1" class = "thumb-down" id="thumbs-down-1" onclick="thumbsdown(1);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png" style="width:50px;height:50px;"
    onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_R.png'"
    onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png'"
    ></button>
  <button type="button" name="thumbs-up-1" class = "thumb-up" id="thumbs-up-1" onclick="thumbsup(1);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png" style="width:50px;height:50px;"
    onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_G2.png'"
    onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png'"
    ></button>


  <div id="menu2">{{recommendations.2}}</div>
  <button type="button" name="thumbs-down-2" class = "thumb-down" onclick="thumbsdown(2);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png" style="width:50px;height:50px;"
    onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_R.png'"
    onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png'"
    ></button>
  <button type="button" name="thumbs-up-2" class = "thumb-up" id="thumbs-up-2" onclick="thumbsup(2);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png" style="width:50px;height:50px;"
  onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_G2.png'"
  onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png'"
    ></button>



<br></br>
<a href=""><button type="button" class="btn btn-primary" id="refresh">refresh page</button></a>
<br></br>

<div class = "container">
<div class="panel group">
<div class="container-fluid">
  <div id="demo0" class="panel panel-primary">
    <div id="demoa0" class="panel-heading">
          </div>
    <div id="demob0" class="panel-body">
          </div>
    <div id="democ0" class="panel-body">
          </div>
    <div id="demod0" class="panel-body">
          </div>
    <div id="demoe0" class="panel-body">
          </div>
    <div id="demof0" class="panel-body">
          </div>
    <div id="demog0" class="panel-body">
          </div>
  </div>
</div>



  <div id="demo1" class="panel panel-primary">
    <div id="demoa1" class="panel-heading">
    </div>
    <div id="demob1" class="panel-body">
    </div>
  </div>


  <div id="demo2" class="panel panel-primary">
    <div id="demoa2" class="panel-heading">
    </div>
    <div id="demob2" class="panel-body">
    </div>
  </div>

  <div id="demo3" class="panel panel-primary">
    <div id="demoa3" class="panel-heading">
    </div>
    <div id="demob3" class="panel-body">
    </div>
  </div>

  <div id="demo4" class="panel panel-primary">
    <div id="demoa4" class="panel-heading">
    </div>
    <div id="demob4" class="panel-body">
    </div>
  </div>

  <div id="demo5" class="panel panel-primary">
    <div id="demoa5" class="panel-heading">
    </div>
    <div id="demob5" class="panel-body">
    </div>
  </div>

  <div id="demo6" class="panel panel-primary">
    <div id="demoa6" class="panel-heading">
    </div>
    <div id="demob6" class="panel-body">
    </div>
  </div>

  <div id="demo7" class="panel panel-primary">
    <div id="demoa7" class="panel-heading">
    </div>
    <div id="demob7" class="panel-body">
    </div>
  </div>

  <div id="demo8" class="panel panel-primary">
    <div id="demoa8" class="panel-heading">
    </div>
    <div id="demob8" class="panel-body">
    </div>
  </div>

  <div id="demo9" class="panel panel-primary">
    <div id="demoa9" class="panel-heading">
    </div>
    <div id="demob9" class="panel-body">
    </div>
  </div>
</div>
</div>

<script>
  $(function() {

    $('#demo0').on('click', function() {
      $('#demob0').slideToggle(200);
    });
});

  $(function() {

    $('#demo1').on('click', function() {
      $('#demob1').slideToggle(200);
    });
  });

  $(function() {

    $('#demo2').on('click', function() {
      $('#demob2').slideToggle(200);
    });
  });

  $(function(){

    $('#demo3').on('click', function() {
      $('#demob3').slideToggle(200);
    });
});

  $(function(){
    $('#demo4').on('click', function() {
      $('#demob4').slideToggle(200);
    });
  });

  $(function(){
    $('#demo5').on('click', function() {
      $('#demob5').slideToggle(200);
    });
  });

  $(function(){
    $('#demo6').on('click', function() {
      $('#demob6').slideToggle(200);
    });
  });

$(function(){
    $('#demo7').on('click', function() {
      $('#demob7').slideToggle(200);
    });
  });

$(function(){
    $('#demo8').on('click', function() {
      $('#demob8').slideToggle(200);
    });
  });

  $(function(){
    $('#demo9').on('click', function() {
      $('#demob9').slideToggle(200);
    });
});

</script>


{% endif %}


</body>


{% endblock %}
</html>
