<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rookieplay--Upload</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#thumbs-up-0").click(function() {
      console.log("This is the query that should be passed to views: " + q);
    });
  });


    $(function RevealDes0() {
      var T = document.getElementById('demog0'),
        displayValue = "";
      if (T.style.display == "")
        displayValue = "none";

      T.style.display = displayValue
    }
  )

  $(function RevealDes1() {
    var T = document.getElementById('demog1'),
      displayValue = "";
    if (T.style.display == "")
      displayValue = "none";

    T.style.display = displayValue
  }
)

$(function RevealDes0() {
  var T = document.getElementById('demog2'),
    displayValue = "";
  if (T.style.display == "")
    displayValue = "none";

  T.style.display = displayValue
}
)

$(function RevealDes0() {
  var T = document.getElementById('demog3'),
    displayValue = "";
  if (T.style.display == "")
    displayValue = "none";

  T.style.display = displayValue
}
)

$(function RevealDes0() {
  var T = document.getElementById('demog4'),
    displayValue = "";
  if (T.style.display == "")
    displayValue = "none";

  T.style.display = displayValue
}
)

$(function RevealDes0() {
  var T = document.getElementById('demog5'),
    displayValue = "";
  if (T.style.display == "")
    displayValue = "none";

  T.style.display = displayValue
}
)

$(function RevealDes0() {
  var T = document.getElementById('demog6'),
    displayValue = "";
  if (T.style.display == "")
    displayValue = "none";

  T.style.display = displayValue
}
)

$(function RevealDes0() {
  var T = document.getElementById('demog7'),
    displayValue = "";
  if (T.style.display == "")
    displayValue = "none";

  T.style.display = displayValue
}
)

$(function RevealDes0() {
  var T = document.getElementById('demog8'),
    displayValue = "";
  if (T.style.display == "")
    displayValue = "none";

  T.style.display = displayValue
}
)

$(function RevealDes0() {
  var T = document.getElementById('demog9'),
    displayValue = "";
  if (T.style.display == "")
    displayValue = "none";

  T.style.display = displayValue
}
)

  </script>
</head>
{% extends 'recs/base.html' %}

<body>


{% block content %}

<p>Rookieplay lets your resume speak for itself</p>
<h2>Upload a resume or cover letter.</h2>
<form action="" form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="document", id="file_input"/>

  <button type="submit">Upload & Analyze</button>
</form>
<p>Please allow the system to process your document for up to 15 seconds.</p>

{% if url %}

{% load static %}
<script src="{% static 'rookieplay/main.js' %}"></script>
<script src="{% static 'rookieplay/rookieplay-ajax.js' %}"></script>


<script>
  var client_id_value = "{{ client_id_value | safe }}";
  var client_auth_key_value = "{{ client_auth_key_value | safe }}";
  var text;
  var jobs = {{ recommendations | safe }};
  var jobs_bank = {{ recommendations | safe }};

  jobs_bank.splice(0, 3)

  const thumbs_down_list = [];
  const thumbs_up_list = [];

  function myFunction(value) {
    text += "<li>" + value + "</li>";
  }


      // add job to list
      // send next job title in the jobs list to whichever menu was downvoted //
  function thumbsdown(key){
    if (key === 0){
      thumbs_down_list.push(jobs[0]);
      jobs[0] = jobs_bank[0];
      document.getElementById("menu0").innerHTML = jobs_bank[0];
      jobs_bank.splice(0, 1);
    }

    if (key === 1){
      thumbs_down_list.push(jobs[1]);
      jobs[1] = jobs_bank[0];
      document.getElementById("menu1").innerHTML = jobs_bank[0];
      jobs_bank.splice(0, 1);
    }

    if (key === 2){
      thumbs_down_list.push(jobs[2]);
      jobs[2] = jobs_bank[0]
      document.getElementById("menu2").innerHTML = jobs_bank[0];
      jobs_bank.splice(0, 1);
    }
  }

</script>

<p>Uploaded file: <a href="{{ url }}">View Here</a></p>

<h2>Job Title Recommendations: </h2>

  <div id="menu0">{{recommendations.0}}</div>
  <button type="button" name="thumbs-down-0" class = "thumb-down" id="thumbs-down-0" onclick="thumbsdown(0);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png" style="width:50px;height:50px;"
  onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_R.png'"
  onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png'"
     ></button>
  <button type="button" name="thumbs-up-0" class = "thumb-up" id="thumbs-up-0" onclick="thumbsup(0);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png" style="width:50px;height:50px;"
    onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_G2.png'"
    onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png'"></button>


  <div id="menu1">{{recommendations.1}}</div>
  <button type="button" name="thumbs-down-1" class = "thumb-down" id="thumbs-down-1" onclick="thumbsdown(1);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png" style="width:50px;height:50px;"
    onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_R.png'"
    onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png'"
    ></button>
  <button type="button" name="thumbs-up-1" class = "thumb-up" id="thumbs-up-1" onclick="thumbsup(1);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png" style="width:50px;height:50px;"
    onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_G2.png'"
    onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png'"
    ></button>


  <div id="menu2">{{recommendations.2}}</div>
  <button type="button" name="thumbs-down-2" class = "thumb-down" onclick="thumbsdown(2);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png" style="width:50px;height:50px;"
    onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_R.png'"
    onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Down_W.png'"
    ></button>
  <button type="button" name="thumbs-up-2" class = "thumb-up" id="thumbs-up-2" onclick="thumbsup(2);"><img src="https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png" style="width:50px;height:50px;"
  onMouseOver="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_G2.png'"
  onMouseOut="this.src='https://rookieplay-uploads.s3.amazonaws.com/static/rookieplay/img/Up_W.png'"
    ></button>



<br></br>
<a href=""><button type="button" class="btn btn-primary" id="refresh">Start Again</button></a>
<br></br>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo0" onclick="RevealDes0('demog0')">
    <div id="demoa0" class="panel-heading">
          </div>
    <div id="demob0" class="panel-body">
          </div>
    <div id="democ0" class="panel-body">
          </div>
    <div id="demod0" class="panel-body">
          </div>
    <div id="demoe0" class="panel-body">
          </div>
    <div id="demof0" class="panel-body">
          </div>
    <div id="demog0" class="comment-more">
          </div>
  </div>
</div>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo1" onclick="RevealDes1('demog1')">
    <div id="demoa1" class="panel-heading">
          </div>
    <div id="demob1" class="panel-body">
          </div>
    <div id="democ1" class="panel-body">
          </div>
    <div id="demod1" class="panel-body">
          </div>
    <div id="demoe1" class="panel-body">
          </div>
    <div id="demof1" class="panel-body">
          </div>
    <div id="demog1" class="comment-more">
          </div>
  </div>
</div>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo2">
    <div id="demoa2" class="panel-heading">
          </div>
    <div id="demob2" class="panel-body">
          </div>
    <div id="democ2" class="panel-body">
          </div>
    <div id="demod2" class="panel-body">
          </div>
    <div id="demoe2" class="panel-body">
          </div>
    <div id="demof2" class="panel-body">
          </div>
    <div id="demog2" class="comment-more">
          </div>
  </div>
</div>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo3">
    <div id="demoa3" class="panel-heading">
          </div>
    <div id="demob3" class="panel-body">
          </div>
    <div id="democ3" class="panel-body">
          </div>
    <div id="demod3" class="panel-body">
          </div>
    <div id="demoe3" class="panel-body">
          </div>
    <div id="demof3" class="panel-body">
          </div>
    <div id="demog3" class="comment-more">
          </div>
  </div>
</div>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo4">
    <div id="demoa4" class="panel-heading">
          </div>
    <div id="demob4" class="panel-body">
          </div>
    <div id="democ4" class="panel-body">
          </div>
    <div id="demod4" class="panel-body">
          </div>
    <div id="demoe4" class="panel-body">
          </div>
    <div id="demof4" class="panel-body">
          </div>
    <div id="demog4" class="comment-more">
          </div>
  </div>
</div>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo5">
    <div id="demoa5" class="panel-heading">
          </div>
    <div id="demob5" class="panel-body">
          </div>
    <div id="democ5" class="panel-body">
          </div>
    <div id="demod5" class="panel-body">
          </div>
    <div id="demoe5" class="panel-body">
          </div>
    <div id="demof5" class="panel-body">
          </div>
    <div id="demog5" class="comment-more">
          </div>
  </div>
</div>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo6">
    <div id="demoa6" class="panel-heading">
          </div>
    <div id="demob6" class="panel-body">
          </div>
    <div id="democ6" class="panel-body">
          </div>
    <div id="demod6" class="panel-body">
          </div>
    <div id="demoe6" class="panel-body">
          </div>
    <div id="demof6" class="panel-body">
          </div>
    <div id="demog6" class="comment-more">
          </div>
  </div>
</div>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo7">
    <div id="demoa7" class="panel-heading">
          </div>
    <div id="demob7" class="panel-body">
          </div>
    <div id="democ7" class="panel-body">
          </div>
    <div id="demod7" class="panel-body">
          </div>
    <div id="demoe7" class="panel-body">
          </div>
    <div id="demof7" class="panel-body">
          </div>
    <div id="demog7" class="comment-more">
          </div>
  </div>
</div>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo8">
    <div id="demoa8" class="panel-heading">
          </div>
    <div id="demob8" class="panel-body">
          </div>
    <div id="democ8" class="panel-body">
          </div>
    <div id="demod8" class="panel-body">
          </div>
    <div id="demoe8" class="panel-body">
          </div>
    <div id="demof8" class="panel-body">
          </div>
    <div id="demog8" class="comment-more">
          </div>
  </div>
</div>

<div class = "w3-container">
  <div class="w3-panel w3-blue w3-round-xlarge" id="demo9">
    <div id="demoa9" class="panel-heading">
          </div>
    <div id="demob9" class="panel-body">
          </div>
    <div id="democ9" class="panel-body">
          </div>
    <div id="demod9" class="panel-body">
          </div>
    <div id="demoe9" class="panel-body">
          </div>
    <div id="demof9" class="panel-body">
          </div>
    <div id="demog9" class="comment-more">
          </div>
  </div>
</div>





<script>
  $(function() {

    $('#demo0').on('click', function() {
      $('#demog0').slideToggle(200);
    });
});


  $(function() {

    $('#demo1').on('click', function() {
      $('#demog1').slideToggle(200);
    });
  });

  $(function() {

    $('#demo2').on('click', function() {
      $('#demog2').slideToggle(200);
    });
  });

  $(function(){

    $('#demo3').on('click', function() {
      $('#demog3').slideToggle(200);
    });
});

  $(function(){
    $('#demo4').on('click', function() {
      $('#demog4').slideToggle(200);
    });
  });

  $(function(){
    $('#demo5').on('click', function() {
      $('#demog5').slideToggle(200);
    });
  });

  $(function(){
    $('#demo6').on('click', function() {
      $('#demog6').slideToggle(200);
    });
  });

$(function(){
    $('#demo7').on('click', function() {
      $('#demog7').slideToggle(200);
    });
  });

$(function(){
    $('#demo8').on('click', function() {
      $('#demog8').slideToggle(200);
    });
  });

  $(function(){
    $('#demo9').on('click', function() {
      $('#demog9').slideToggle(200);
    });
});

</script>


{% endif %}


</body>


{% endblock %}
</html>
